body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center
}

.text-pop {
  color: white;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

/* .hide {
  display: none;
}

.show:hover {
  display: block;
} */